@media (max-width: 200px) {
  .text-lg {
    font-size: 1rem;
  }
  .text-sm {
    font-size: 0.3rem;
  }
}
.button, .sign-up-button {
  background-color: #5072A7;
  color: white;
  border-radius: 15px;
  width: 100%;
  height: 40px;
  border: #5F8575;
  border-style: solid;
  border-width: 1px;
}

input {
    border-radius: 9px;
    border: #5F8575;
    border-style: solid;
    border-width: 1px;
}

.sign-up-button {
  width: 50%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header-container {
  font-weight: 500;
  font-size: 24px;
}
.header-container .logo-wrapper {
  padding: 1.25rem;
  background-color: white;
  border:none;
}
.header-container .log-in-button {
  padding: 1.5rem;
  border: none;
  background-color: white;
}

.car-container {
  margin: 6rem;
}
.car-container .car-image-wrapper {
  position: relative;
  height: 100%;
}
.car-container .car-image-wrapper img {
  border-radius: 8%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(70%);
}

footer {
  margin-top: 3rem;
  background-color: #5072A7;
  display: flex;
  justify-content: center;
}

.car-name {
  position: absolute;
  color: white;
  font-size: 150%;
  top: 10%;
  left: 8%;
  font-size: 100%;
}
.car-price {
  position: absolute;
  color: white;
  font-size: 150%;
  bottom: 5px;
  right: 25px;
  font-size: 100%;
}
.car-status-button {
  border-radius: 15px;
  height: 40px;
  background-color: white;
  border: #5072A7;
  color: #5072A7;
  border-style: solid;
  border-width: 1px;
  width: 25%;
}

.car-status-button:hover {
  background-color: #5072A7;
  color: white;
}

.car-image-wrapper-order img {
  border-radius: 10%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(70%);
}

.car-status-button-order {
  border-radius: 15px;
  height: 40px;
  background-color: #5F8575;
  border: #5F8575;
  color: white;
  border-style: solid;
  border-width: 1px;
  width: 100%;
}

label {
  font-size: 16px;
}

.custom-button {
  background-color: #5072A7;
  color: white;
  border-radius: 15px;
  width: 100%;
  height: 40px;
  border: #5F8575;
  border-style: solid;
  border-width: 1px;
}

.order-form input[type=text],
.order-form input[type=email],
.order-form input[type=tel],
.order-form textarea {
  border-radius: 10px;
}

.form-control:hover {
  border-color: #5072A7;
}

.user-wrapper {
  border-radius: 40px;
  background-color: white;
  border: grey;
  border-style: solid;
  border-width: 1px;
  font-size: 20px;
  padding-left: 3rem;
}

.user-info-row {
  display: flex;
  justify-content: space-between;
}

.edit-user-button {
  background-color: #5072A7;
  color: black;
  border-radius: 15px;
  width: 100%;
  height: 40px;
  border: #5072A7;
  border-style: solid;
  border-width: 1px;
}

.delete-user-button {
  background-color: #9b5151;
  color: black;
  border-radius: 15px;
  width: 100%;
  height: 40px;
  border: #9b5151;
  border-style: solid;
  border-width: 1px;
}

.users-car-img {
  border-radius: 8%;
}

.background-wrapper {
  background-color: #5072A7;
}

.sign-up-form {
  border: black;
  padding: 3rem;
}

.log-in-form {
  border: black;
  padding: 3rem;
}

.log-in-button {
  border-radius: 15px;
  height: 40px;
  background-color: white;
  border: #5072A7;
  color: #5072A7;
  border-style: solid;
  border-width: 1px;
  width: 100%;
}

.log-in-button:hover {
  background-color: #5072A7;
  color: white;
}

.sign-up-button:hover {
  background-color: white;
  color: #5072A7;
}

.user-button {
  padding-right: 2rem;
  background-color: white;
  border-style: none;
}/*# sourceMappingURL=style.css.map */